[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
diffusers = {extras = ["torch"], version = "*"}
transformers = "*"
hypercorn = "*"
fastapi = "*"
gpt4all = "*"

[dev-packages]

[requires]
python_version = "3.10"
